<div class="card-template">
	<style>
		.card-template {
			display: flex;
		}

		.card {
			padding: 1vh;
			margin: 1vh;

			display: flex;
			justify-content: center;
			align-items: center;
			flex-grow: 1;

			aspect-ratio: 1 / 1;

			background-color: #5ce2e7;
			color: black;

			font-size: 10vh;
			font-family: Arial;
			font-weight: normal;

			border: #426969 3px solid;
			box-shadow: -2px 2px 6px #3595bab8;
			border-radius: 1vh;



			text-align: center;

			transition: all 0.3s;


			/* height: 17vh; */
		}

		.card:hover {
			cursor: pointer;
			transform: translateY(-30px);
		}
		
	</style>
	<div class="card"></div>
</div>