<div class="card-template">
	<style>
		.card-template {
			display: flex;
		}

		.card {
			padding: calc(var(--1v)* 1);
			margin: calc(var(--1v)* 1);

			display: flex;
			justify-content: center;
			align-items: center;
			flex-grow: 1;

			aspect-ratio: 1 / 1;

			background-color: #5ce2e7;
			color: black;

			font-size: calc(var(--1v)* 15);
			font-family: Arial, Helvetica, sans-serif;
			font-weight: normal;
			text-align: center;

			border: #426969 3px solid;
			box-shadow: -2px 2px 6px #3595bab8;
			border-radius: 1vh;

			transition: transform 0.3s;
		}

		.card:hover {
			cursor: pointer;
			transform: translateY(calc((var(--1v) * 5) * -1));
		}

		.card.correct {
			animation: blinking-border 1s linear infinite;

		}

		@keyframes blinking-border {

			0% {
				box-shadow: 0px 0px 15px 5px #ff0000cc;
			}

			50% {
				box-shadow: -2px 2px 6px #ffffff00;
			}

			100% {
				box-shadow: 0px 0px 15px 5px #ff0000cc;
			}
		}
	</style>
	<div class="card"></div>
</div>